.auth-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;
}

.glass-card{

    width:100%;

    max-width:430px;

    padding:40px;

    border-radius:28px;

    background:var(--glass);

    border:1px solid var(--glass-border);

    backdrop-filter:blur(18px);

    -webkit-backdrop-filter:blur(18px);

    box-shadow:var(--shadow);

    transition:.3s;
}

.glass-card:hover{

    transform:translateY(-4px);
}

.logo{

    display:block;

    width:120px;

    margin:0 auto 30px;
}

.auth-title{

    color:white;

    text-align:center;

    margin-bottom:35px;

    font-size:30px;

    font-weight:bold;
}